# hello world

to print 'hello world'

In [1]:
print('Hello World')

Hello World

# Add 2 numbers

In [2]:
a=5
b=3
c=a+b
print(c)

8

# Square root of a Number

In [3]:
x=int(input('enter a number:'))
print('Square root of {} is: {}'.format(x,x**(1/2)))

enter a number:25
Square root of 25 is: 5.0

# Area of the triangle

Let a,b,c are the three sides of triangle

In [4]:
a,b,c=3,4,5

In [5]:
s=(a+b+c)/2            #semi-perimeter
a=(s*(s-a)*(s-b)*(s-c))**(1/2)

In [6]:
print('area of triangle:',a)

area of triangle: 6.0

# Solution of Quadratic equation

ax***2+b*x+c=0

In [7]:
import math
a=1
b=5
c=6

In [8]:
d=b**2-(4*a*c)
x1=(-b+(math.sqrt(d)))/(2*a)
x2=(-b-(math.sqrt(d)))/(2*a)

In [9]:
print('solutions of quadratic equation are {} & {} '.format(x1,x2))

solutions of quadratic equation are -2.0 & -3.0

# To swap two variables

to swap each other

In [10]:
x=int(input('enter the first number:'))
y=int(input('enter the second number:'))

temp=x            #just keep as temp b4 assign
x=y
y=temp

print('x after swap:',x)
print('y after swap:',y)

enter the first number:5
enter the second number:10
x after swap: 10
y after swap: 5

# To generate a random number

to generate a number between 5 and 15

In [11]:
import random
random.randint(5,15)

12

# To converts kilometers into miles

In [12]:
x=float(input('enter the kilometers:'))
miles=0.621371 * x
print('{} kilometers is {} miles'.format(x,miles))

enter the kilometers:4
4.0 kilometers is 2.485484 miles

# To converts Farenheit into Celsius and vice versa

Celsius into Farenheit

In [13]:
C=int(input('enter the temperature in degree celsius:'))
F=(C*1.8)+32
print('temperature in Farenheit:',F)

enter the temperature in degree celsius:92
temperature in Farenheit: 197.6

Farenheit into Celsius

In [14]:
F=int(input('enter the temperature in degree Farenheit:'))
C=(F-32)/1.8
print('temperature in Celcius:',C)

enter the temperature in degree Farenheit:90
temperature in Celcius: 32.22222222222222

# To check the number positive or negative or zero

In [15]:
x=int(input('enter the number:'))
if x>0:
    print('{} is positive'.format(x))
elif x<0:
    print('{} is negative'. format(x))
else:
    print('zero')

enter the number:32
32 is positive

# To check the number even or odd

In [16]:
x= int(input('enter the number:'))
if x%2==0:
    print('the number {} is even'.format(x))
else:
    print('the number {} is odd'.format(x))

enter the number:21
the number 21 is odd

# To check leap year or not

leap year concept:

In [17]:
year=int(input('enter the year:'))

if year%4==0:
    if year%100==0:
        if year%400==0:
            print('{} is leap year'.format(year))
        else:
            print('{} is not leap year'.format(year))
    else:
        print('{} is leap year'.format(year))
else:
    print('{} is not leap year'.format(year))

enter the year:2012
2012 is leap year

# Largest among 3 numbers

In [18]:
a=int(input('enter the first number:'))
b=int(input('enter the second number:'))
c=int(input('enter the third number:'))

if a>b:
    if a>c:
        print('{} is largest number'.format(a))
    else:
        print('{} is largest number'.format(c))
elif b>a:
    if b>c:
        print('{} is largest number'.format(b))
    else:
        print('{} is largest number'.format(c))

enter the first number:3
enter the second number:6
enter the third number:4
6 is largest number


# To check whether the given number is Prime or not

In [19]:
x=int(input('enter the number:'))

if x>1:
    for i in range(2,x):
        if x%i==0:
            print('the number {} not prime'.format(x))
            break
    else:
        print('the number {} is prime'.format(x))
else:
    print('not prime')

enter the number:17
the number 17 is prime

# To print all prime numbers between an interval

to print all prime numbers between 10 & 30

In [20]:
for i in range(10,44):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

11
13
17
19
23
29
31
37
41
43

# To print Factorial of a number, and using recursion

In [21]:
x=int(input('enter the number:'))
factorial=1
if x<0:
    print('no factorial for negatives')
elif x==0:
    print('factorial of 0 is 1')
else:
    for i in range(1,x+1):
        factorial=factorial*i
    print(factorial)

enter the number:5
120

In [22]:
#using recursion

def rec_fact(num):
    if num==0:
        return 1
    elif num==1:
        return num
    else:
        return num*rec_fact(num-1)
    
rec_fact(5)

120

# To create a multiplication table

In [23]:
num=int(input('enter the number that you need for table'))

for i in range(1,11):
    print(num, 'x', i,'=', num*i)

enter the number that you need for table12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

# To print fibonacci series , and using recursion

In [24]:
n=int(input('enter the limit:'))
n1,n2=0,1
count=0

if n<=0:
    print('please enter the positive integer')
elif n==1:
    print(n1)
else:
    while count<n:
        print(n1)
        nth=n1+n2
        n1=n2
        n2=nth
        count+=1

enter the limit:11
0
1
1
2
3
5
8
13
21
34
55

In [25]:
#using recursion function

def rec_fib(n):
    if n<=1:
        return n
    else:
        return rec_fib(n-1)+rec_fib(n-2)
        
nterms=10

for i in range(nterms):
    print(rec_fib(i))

0
1
1
2
3
5
8
13
21
34

Recursion is a function by which can use like this.
here, we are iterating the output by use of previously defined fn.

# To check whether the number is armstrong or not

In [26]:
num=int(input('enter the number:'))
number=num
sum=0

while number>0:
    digit=number%10
    sum+=digit**3
    number//=10
    
if num==sum:
    print('armstrong')
else:
    print('not armstrong')

enter the number:407
armstrong

In [27]:
num=407
temp=num

a=(num%10)**3
b=((num//10)%10)**3
c=((num//100)%10)**3
if temp==(a+b+c):
    print('armstrong')
else:
    print('not')

armstrong

# To print sum of N natural numbers, and using recursion

In [28]:
N=int(input('enter the limit:'))

sum=0
if N<0:
    print('please enter positive Number')
else:
    while N>0:
        sum+=N
        N-=1
    print(sum)

enter the limit:10
55

In [29]:
#using recursion

In [30]:
def rec_sum(n):
    if n<=1:
        return n
    else:
        return n+rec_sum(n-1)
    
rec_sum(10)

55

# Lambda - Anonymous function

eg. to print power of 2

In [31]:
N=int(input('enter the limit:'))

#normal method
for i in range(N+1):
    result=2**i
    print('2 raised to power',i,'=',result)

enter the limit:10
2 raised to power 0 = 1
2 raised to power 1 = 2
2 raised to power 2 = 4
2 raised to power 3 = 8
2 raised to power 4 = 16
2 raised to power 5 = 32
2 raised to power 6 = 64
2 raised to power 7 = 128
2 raised to power 8 = 256
2 raised to power 9 = 512
2 raised to power 10 = 1024

In [32]:
#using Lambda
N=int(input('enter the limit:'))

result=list(map(lambda x:2**x,range(N+1)))

for i in range(N+1):
    print('2 raised to power',i,'=',result[i])

enter the limit:10
2 raised to power 0 = 1
2 raised to power 1 = 2
2 raised to power 2 = 4
2 raised to power 3 = 8
2 raised to power 4 = 16
2 raised to power 5 = 32
2 raised to power 6 = 64
2 raised to power 7 = 128
2 raised to power 8 = 256
2 raised to power 9 = 512
2 raised to power 10 = 1024

In [33]:
result=list(map(lambda x:2**x,range(10)))
result

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [34]:
result=lambda x:2**x
result(5)

32

To print numbers that divisible by a number from the list
using Lambda

In [35]:
#number=13

my_list=[12,69,72,169,130,78,82,110,260,332,]
result=list(filter(lambda x:(x%13==0),my_list))

print(result)

[169, 130, 78, 260]

In [36]:
my_list = [12, 65, 54, 39, 102, 339, 221,]

# use anonymous function to filter
result = list(filter(lambda x: (x % 13 == 0), my_list))

# display the result
print("Numbers divisible by 13 are",result)

Numbers divisible by 13 are [65, 39, 221]

# to convert number systems

Decimal,binary,octal,hexadecimal

In [37]:
dec=344
print(bin(dec))
print(oct(dec))
print(hex(dec))

0b101011000
0o530
0x158

# ASCII

In [38]:
ord('p')

112

In [39]:
list(map(lambda x:chr(x),range(75,89)))

['K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X']

In [40]:
list(map(lambda x:ord(x),['a','b','c','d']))

[97, 98, 99, 100]

# To find Hcf and Lcm

# Hcf

hcf of two numbers
eg:12,14.......2

In [41]:
#let a be the first number
a=int(input('enter the first number:'))
#b is the second number
b=int(input('enter the second number:'))

#if a>0&b>0:
if a<b:
    small=a
elif a>b:
    small=b
else:
    print('No Hcf')
for i in range(1,small+1):
    if (a%i==0) and (b%i==0):
        hcf=i
print(hcf)
    
#else:
    #print('no hcf')

enter the first number:4
enter the second number:8
4

In [42]:
#using function

In [43]:


def compute_hcf(num1,num2):
    if num1>num2:
        small=num2
    else:
        small=num1
    for i in range(1,small+1):
        if (num1%i==0) and (num2%i==0):
            hcf=i
    return hcf
        
compute_hcf(16,24)

8

# LCM

In [44]:
def compute_lcm(num1,num2):
    if num1>num2:
        big=num1
    else:
        big=num2
    for i in range(1,1000):
        if((big*i)%num1==0) and ((big*i)%num2==0):
            lcm=big*i
            break
    return lcm

In [45]:
compute_lcm(24,54)

216

# To find factors of a number

In [46]:
x=int(input('enter the number:'))

for i in range(1,x+1):
    if (x%i)==0:
        print(i)

enter the number:128
1
2
4
8
16
32
64
128

In [47]:
#in function

def print_factors(number):
    for i in range(1,number+1):
        if (number%i)==0:
            print(i)
        
print_factors(16)

1
2
4
8
16

# To make simple calculator using choice

In [48]:
def add(num1,num2):
    return num1+num2
def subtract(num1,num2):
    return num1-num2
def multiply(num1,num2):
    return num1*num2
def division(num1,num2):
    return num1/num2
def reminder(num1,num2):
    return num1%num2
def floordivider(num1,num2):
    return num1//num2
def power(num1,num2):
    return num1**num2

num1=float(input('enter the first number:'))

choice=input('enter the choice:')

num2=float(input('enter the second number:'))

if choice=='+':
    print(num1,'+',num2,'=',add(num1,num2))
elif choice=='-':
    print(num1,'-',num2,'=',subtract(num1,num2))
elif choice=='*':
    print(num1,'*',num2,'=',multiply(num1,num2))
elif choice=='/':
    print(num1,'/',num2,'=',division(num1,num2))
elif choice=='%':
    print(num1,'%',num2,'=',reminder(num1,num2))
elif choice=='//':
    print(num1,'//',num2,'=',floordivider(num1,num2))
elif choice=='**':
    print(num1,'**',num2,'=',power(num1,num2))
else:
    print('Invalid')

enter the first number:23
enter the choice:%
enter the second number:7
23.0 % 7.0 = 2.0

# To shuffle deck of cards

In [49]:
import itertools,random

In [50]:
k=list(itertools.product(range(1,14),['Spade','Heart','Diamond','Club']))

In [51]:
random.shuffle(k)

In [52]:
len(k)

52

In [53]:
k

[(5, 'Diamond'),
 (8, 'Club'),
 (1, 'Club'),
 (11, 'Heart'),
 (4, 'Heart'),
 (2, 'Diamond'),
 (4, 'Club'),
 (13, 'Club'),
 (12, 'Diamond'),
 (3, 'Club'),
 (1, 'Spade'),
 (7, 'Diamond'),
 (10, 'Heart'),
 (6, 'Diamond'),
 (9, 'Club'),
 (9, 'Heart'),
 (8, 'Heart'),
 (12, 'Club'),
 (2, 'Heart'),
 (10, 'Diamond'),
 (11, 'Spade'),
 (7, 'Heart'),
 (10, 'Spade'),
 (13, 'Spade'),
 (13, 'Diamond'),
 (11, 'Club'),
 (4, 'Diamond'),
 (6, 'Spade'),
 (1, 'Diamond'),
 (2, 'Spade'),
 (7, 'Club'),
 (12, 'Heart'),
 (5, 'Heart'),
 (11, 'Diamond'),
 (3, 'Spade'),
 (8, 'Diamond'),
 (7, 'Spade'),
 (1, 'Heart'),
 (6, 'Club'),
 (12, 'Spade'),
 (8, 'Spade'),
 (3, 'Heart'),
 (9, 'Spade'),
 (6, 'Heart'),
 (13, 'Heart'),
 (10, 'Club'),
 (4, 'Spade'),
 (9, 'Diamond'),
 (3, 'Diamond'),
 (2, 'Club'),
 (5, 'Club'),
 (5, 'Spade')]

In [54]:
k[32][1]

'Heart'

In [55]:
k[36][0]

7

# To print calendar

In [56]:
import calendar
print(calendar.month(1992,7))

     July 1992
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [57]:
print(calendar.month(2023,7))

     July 2023
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

# To convert decimal to binary using recursion

In [58]:
def rec_conv(num):
    if num>1:
        rec_conv(num//2)
    print(num%2,end='')
    
rec_conv(34)

100010

In [59]:
import random,numpy
random.randint(3,4)

3

In [60]:
x=[[1,2,3],[2,3,4],[3,4,5]]

In [61]:
len(x)

3

# Matrix addition

In [62]:
x=[[1,2,3],[2,3,4],[3,4,5]]
y=[[11,12,12],[12,13,14],[13,14,15]]
result=[[0,0,0],[0,0,0],[0,0,0]]

In [63]:
for i in range(len(x)):
    for j in range(len(x)):
        result[i][j]=x[i][j]+y[i][j]

In [64]:
print(result)

[[12, 14, 15], [14, 16, 18], [16, 18, 20]]

In [65]:
#for addition by using numpy

import numpy as np
x=np.array([[1,2,3],[2,3,4]])
y=np.array([[5,6,7],[7,8,9]])
x+y

array([[ 6,  8, 10],
       [ 9, 11, 13]])

# Matrix multiplication

In [67]:
X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[5,8,1,2],
    [6,7,3,0],
    [4,5,9,1]]

result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]

In [68]:
# iterate through rows of X
for i in range(len(X)):
   # iterate through columns of Y
   for j in range(len(Y[0])):
       # iterate through rows of Y
       for k in range(len(Y)):
           result[i][j] += X[i][k] * Y[k][j]

In [69]:
result

[[114, 160, 60, 27], [74, 97, 73, 14], [119, 157, 112, 23]]

In [70]:
#using numpy
x=np.array([[1,2,3],[2,3,4]])
y=np.array([[7,2],[3,4],[5,6]])
np.dot(x,y)

array([[28, 28],
       [43, 40]])

# Transpose of matrix

In [71]:
x=[[1,2,3],[12,13,14]]

In [72]:
T=[[0,0],[0,0],[0,0]]

In [73]:
for i in range(len(x)):
    for j in range(len(x[0])):
        T[j][i]=x[i][j]

In [74]:
T

[[1, 12], [2, 13], [3, 14]]

# To check whether the string is palindrome or not

In [75]:
stri='MaLAyPlaM'
rev_str=reversed(stri)

In [76]:
list(rev_str)==list(stri)

False

In [77]:
stri.casefold()

'malayplam'

In [78]:
a=['a','b','c']
b=['a','b','c']

In [79]:
a==b

True

In [80]:
x='malayalam'
y=reversed(x)

In [81]:
if (list(x)==list(y)):
    print('string "x" is palindrome')
else:
    print('not palindrome')

string "x" is palindrome

# To remove punctuations from a string

In [82]:
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

In [83]:
my_str="Hello!!!, he said ---and went."

In [84]:
for char in my_str:
    if char not in punctuations:
        print(char)

H
e
l
l
o

h
e

s
a
i
d

a
n
d

w
e
n
t

# To sort words in albhabetic order

In [85]:
my_words='my name is mohammed raheem and coming from koramangala'

In [86]:
splitx=my_words.split()

In [87]:
splitx.sort()

In [88]:
for word in splitx:
    print(word)

and
coming
from
is
koramangala
mohammed
my
name
raheem

# Operations between two sets

In [89]:
a={1,2,3,4,5}
b={2,4,7,8,9}

In [90]:
#union
a|b

{1, 2, 3, 4, 5, 7, 8, 9}

In [91]:
#intersection
a&b

{2, 4}

In [92]:
#difference
a-b

{1, 3, 5}

In [93]:
#symmetric difference
a^b

{1, 3, 5, 7, 8, 9}

# To count vowels in a string

In [94]:
ip_str = 'Hello, have you tried our tutorial section yet?'
vowels = 'aeiou'

ip_strs=list(ip_str)
vowelss=list(vowels)

In [95]:
for i in range(len(vowelss)):
    print(vowelss[i],':',ip_strs.count(vowelss[i]))

a : 2
e : 5
i : 3
o : 5
u : 3